@page
@model MoneyTransfer.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Id_Sender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Id_Sender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Amount_Sender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Amount_Sender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Currency_Sender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Currency_Sender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Id_Receiver)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Id_Receiver)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Amount_Receiver)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Amount_Receiver)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Currency_Receiver)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Currency_Receiver)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Token)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Token)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Transaction_State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Transaction_State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Transaction_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Transaction_Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Transaction.Id_Transaction">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
