@page
@model MoneyTransfer.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].Id_Sender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].Amount_Sender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].Currency_Sender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].Id_Receiver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].Amount_Receiver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].Currency_Receiver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].Token)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].Transaction_State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].Transaction_Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Transaction) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Sender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount_Sender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency_Sender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Receiver)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount_Receiver)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency_Receiver)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Token)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transaction_State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transaction_Date)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id_Transaction">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id_Transaction">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id_Transaction">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
